* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  width: 100%;
  height: 100vh;
  background: #eed3d9;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.todo {
  width: 300px;
  height: 400px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
  overflow-y: hidden;
  padding: 20px;
}

.todo .heading {
  text-transform: uppercase;
  text-align: center;
}

.todo form {
  margin-top: 40px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.todo form input {
  border: none;
  outline: none;
  border-bottom: 2px solid blue;
  font-size: 15px;
  padding: 5px;
}
.todo form button {
  background: blue;
  padding: 8px 10px;
  font-size: 20px;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Item start */

.item_box {
  margin: 20px 0;
  height: 220px;
  cursor: pointer;
  overflow-y: scroll;
}

.item_box::-webkit-scrollbar {
  display: none;
}

.item_box .item {
  display: flex;
  align-items: center;
  gap: 10px;
  color: purple;
  margin-bottom: 10px;
  list-style: none;
}

.item_box .item i {
  background: purple;
  color: #fff;
  padding: 5px 8px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.5s linear;
}
.item_box .item i:hover {
  background: white;
  color: red;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}
/* Item end */

/* media queries */

@media screen and (max-width: 320px) {
  .todo {
    width: 250px;
    padding: 15px;
  }
  .todo form input {
    font-size: 12px;
    padding: 5px;
  }
}
